.header {
  display: flex;
  background: #353d47;
  justify-content: space-between;
  height: 60px;
  width: 100%;
  align-items: center;
  .nav {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    .nav-item {
      font-size: 16px;
      color: #639cd5cc;
      cursor: pointer;
      padding: 18px 12px;
      &:hover{
        background: #4a535e;
      }
      &.fomos-span {
        display: flex;
        align-items: center;
        padding-left: 28px;
        color: #fff;
        &:hover{
          background: #353d47;
        }
      }
    }
    .fomos-span {
      margin-left: 0;
      font-weight: 600;
      .fomos-icon{
          fill: white;
      }
      .fomos-des {
        margin-left: 8px;
      }
    }
  }
  .user-wrap {
    margin: 0 16px;
    display: flex;
    align-items: center;
    border-bottom: #639cd5 2px solid;
    .user-icon{
        fill:#639cd5 ;
    }
    .user-name {
      position: relative;
      color: #639cd5;
      margin-left: 8px;
    }
  }
  .list-icon {
    display: none;
  }
}

.body {
  background: #4a596c;
  .container {
    width: 1110px;
    margin: 0 auto;
    .body-title {
      position: relative;
      margin: 0;
      color: #b0d2f4;
      font-weight: 100;
      font-size: 40px;
      text-align: left;
      border-bottom: 2px solid #b0d2f4;
      padding-bottom: 12px;
    }
    .body-watching {
      .watching-title {
          text-align: left;
        color: #b0d2f4;
      }
      .watch-list {
        display: flex;
        .watching-item {
          position: relative;
          background: #5e6f86;
          width: 190px;
          height: 119px;
          border-radius: 4px;
          margin-left: 40px;
          &:first-child {
            margin-left: 0;
          }
          .watching-item-icon {
            position: absolute;
            background-color: #fafafa;
            width: 38px;
            height: 38px;
            border-radius: 50%;
            margin: 12px;
            .watching-icon {
              position: absolute;
              top: 6px;
              left: 10px;
              .bitcoin-icon{
                  fill: #F7931A;
              }
              .lite-icon{
                fill:#345D9D
              }
            }
          }
          .watching-item-name {
            margin: 0;
            position: absolute;
            font-size: 20px;
            color: #dfe8f2;
            left: 54px;
            top: 10px;
          }
          .watching-item-description {
            margin: 0;
            position: absolute;
            color: #353d47;
            top: 32px;
            font-size: 13px;
            left: 54px;
          }
          .watching-item-price {
            position: absolute;
            color: #dfe8f2;
            bottom: 10px;
            right: 16px;
            font-weight: 800;
            letter-spacing: 1px;
          }
          .watching-item-change {
            position: absolute;
            color: #ff909a;
            font-size: 10px;
            bottom: 5px;
            right: 18px;
          }
        }
      }
    }
    .body-infomation {
      .infomation-title {
        font-size: 24px;
        color: #b0d2f4;
        margin: 16px;
      }
      .profile-content {
        border-radius: 8px;
        background-color: #fff;
        position: relative;
        width: 1110px;
        height: 497px;
        .profile-heading {
          width: 1046px;
          height: 232px;
          .profile-img {
            position: absolute;
            background-color: #dfe8f2;
            width: 214px;
            height: 214px;
            border-radius: 50%;
            margin: 32px 0 0 32px;
            .img {
              position: absolute;
              top: 80px;
              left: 80px;
            }
          }
          .profile-image {
            position: absolute;
            color: #353d47;
            font-size: 16px;
            font-weight: 600;
            top: 16%;
            left: 260px;
          }
          .img-input {
            position: absolute;
            top: 25%;
            left: 23.5%;
            height: 30px;
            width: 694px;
          }
          .browse-img-button {
            position: absolute;
            top: 25%;
            height: 36px;
            background: #dfe8f2;
            color: #58616c;
            width: 81px;
            border: none;
            left: calc(87% - 3px);
            cursor: pointer;
            line-height: 36px;
          }
        }
        .profile-body {
          margin-top: 60px;
          width: 100%;
          display: flex;
          flex-wrap: wrap;
          .profile-item {
            width: 40%;
            padding: 0 44px;
            .profile-infomation {
              color: #353d47;
              font-size: 16px;
              display: block;
              font-weight: 500;
              margin-bottom: 8px;
              text-align: left;
            }
            .profile-input {
              width: 437px;
              height: 28px;
              margin-bottom: 32px;
              padding: 4px;
            }
          }
        }
      }
      .cancel-button {
        position: relative;
        width: 90px;
        height: 41px;
        background-color: #dfe8f2;
        color: #58616c;
        left: 326px;
      }
      .save-button,
      .cancel-button {
        width: 90px;
        height: 41px;
        border-radius: 4px;
        border: none;
        margin: 32px 0;
        cursor: pointer;
        &:hover{
          opacity: 0.8;
        }
      }
      .save-button {
        position: relative;
        height: 41px;
        width: 200px;
        background-color: #437eb9;
        color: #fff;
        left: 350px;
      }
    }
  }
}
